<%= link_to "New Game", new_game_path %>
<%= simple_format(@board.display_string) %>

Score:<br>
X: <%= @board.x_score %><br>
Y: <%= @board.y_score %><br>
<br>
<% if @board.x_score >= 11 %>
  X Wins!
<% elsif @board.y_score >= 11 %>
  Y Wins!
<% else %>
  <div class="reload-page"></div>
<% end %>