<h1>Players</h1>

<%= link_to "Register Player", new_player_path %><br><br>

<table>
  <tr>
    <th>Name</th>
    <th>Matches</th>
    <th>Rating</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.matches %></td>
      <td><%= player.rating %></td>
    </tr>
  <% end %>
</table>