<%= link_to "New Match", new_match_path %>
<br>
<%= simple_format(@board.display_string) %>

Score:<br>
X: <%= @board.x_score %><br>
Y: <%= @board.y_score %><br>
<br>
<% if @board.x_score >= 11 %>
  X Wins!
<% elsif @board.y_score >= 11 %>
  Y Wins!
<% else %>
  <div class="reload-page"></div>
<% end %>